body{
  padding: 2%;
  color: #cc6600;
  text-shadow: .25px .25px yellow, .6px .6px white;
  background-image: url("images/pipe.jpg");
  background-size: 100% auto;
  font-size: 20px;
}

h1{
  text-shadow: 1px 1px white;
}

.tab-bar{
}

.tab-link:hover{
  background-color: #ccd9ff;
  border-bottom: 0;
  border-right: 0;
  border-left: .5px solid black;
  border-top: .5px solid black;
}

.tab-link{
  /*float: left;*/
  padding: 0%;
  display: inline-block;
  background-color: white;
  text-align: center;
  overflow: hidden;
  padding: 14px 16px;
  margin: 0;
  border-bottom: .5px solid black;
  border-right: .5px solid black;
}

.title{
  color: black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}